/* Sidebar.css */

.sidebar {
    background-color: #fcd570; /* Yellow */
    background-image: url(./sidebar.png);
    background-size: cover;
    color: rgb(0, 0, 0);
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

.sidebar.closed {
    transform: translateX(-100%);
}

/* Links Styling */
.sidebar-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 12px 0;
    display: flex;
    align-items: center;
    font-weight: bold;
    white-space: nowrap;
}

.sidebar-link:hover {
    color: #fff;
    opacity: 0.8;
}

.sidebar-icon {
    margin-right: 15px;
    font-size: 2.5rem;
}
