html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.topnav {
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 2px;
  border: 0;
  text-align: center;
  margin: 20px auto;
  display: flex;
  width: 59%;
  height: 3rem;
}

input[type="search"]::placeholder {
  color: #949494;
}

body {
  background-color: #ffcf09;
  padding: 20px;
}

.rows {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  max-width: 1000px;
  min-width: 300px;
  margin: 0 auto;
}

.container {
  background-color: lightgrey;
  box-shadow: 7px 12px 28px 12px rgb(71, 71, 71);
  background: linear-gradient(to bottom, #dcdcdc 50%, #ffffff 50%);
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  max-width: 285px;
}

.container:hover {
  transform: translateY(-10px);
  box-shadow: 7px 16px 35px 15px rgb(166, 105, 1);
  background: linear-gradient(to bottom, #e0e0e0 50%, #f9f9f9 50%);
}

img {
  margin: 20px auto 10px auto;
  object-fit: contain;
  width: auto;
  height: 130px;
}

img:hover {
  opacity: 0.6;
}

.name {
  padding-left: 15px;
  text-transform: capitalize;
}

.tag-container {
  padding-left: 15px;
  margin-top: -10px;
}

.tag {
  font-size: 9px;
  color: rgb(170, 60, 0);
  background-color: white;
  padding: 2px 5px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  margin-right: 5px;
}

.idt {
  font-size: 12px;
  background-color: #cdcdc8;
  color: #73493d;
  padding: 2px 6px;
  margin-left: 15px;
 transform: translate(-15px, -30px);

}

.square1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 100px 0 0;
  border-color: black transparent transparent transparent;
  z-index: -1;
}

.square2 {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 0 0 100px;
  border-color: black transparent transparent transparent;
  z-index: -1;
}

.circle1,
.circle2 {
  height: 150px;
  width: 150px;
  position: fixed;
  bottom: -60px;
  background-color: #cc0707;
  border-radius: 50%;
  z-index: -1;
}

.circle1 {
  left: -75px;
}

.circle2 {
  right: -75px;
}


.pagination {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
}

.pagination button {
  background-color: #73493d;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.pagination button:disabled {
  background-color: #bcaea9;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #a46e51;
}